<div>
    <table class="a col-sm-4">
        <div>
            <h3 ><u>Charger Status Values</u></h3>
        <select [(ngModel)]="chargervalue" (ngModelChange)="chargerStatusValuesChange()">
            <option *ngFor="let status_state of chargerStatusValues" [ngValue]="status_state" >
               {{status_state.status}}
            </option>
        </select><br/>
        Current selected Status value is: <span>{{chargervalue.status}}  </span><br/><br/>
        </div>
        
    </table>
 
    <table class="b col-sm-4">
        <div>
            <h3 ><u>Connector Status Values</u></h3>
        <select [(ngModel)]="connectorvalue" [disabled]="statusvalue? true : false" [style.color]="statusvalue? 'grey': 'darkgoldenrod'">
            <option *ngFor="let status of connectorstatusValues" [ngValue]="status">
               {{status.name}}
            </option>
        </select><br/>
        Current selected Status value is: <span [style.color]="statusvalue? 'grey': 'darkgoldenrod'">{{connectorvalue.name}}  </span><br/><br/>
        </div>
        
    </table>
</div>
