<div class="form-inline">
        <label>Link:</label>
        <input class="form-control" type="text" size="60" [(ngModel)]="linkid">
        
        <div class="second form-group">
            <label>Subtenant-id:</label>
            <input class="form-control" type="text" placeholder="Enter the Subtenant-id" [(ngModel)]="subtenantid" (ngModelChange)="SubtenantId()">
        </div> 
    
        <label>Charger-id:  </label>
        <input class="form-control" type="text" placeholder="Enter the Charger-id" [(ngModel)]="chargerid" (ngModelChange)="chargeId()">&nbsp;    
</div>

<div>
    <label class="connect" *ngIf="showconnect">You are now connected to Charger id:</label>
    <span *ngFor="let data of connect">
        {{data.chargerid}}
    </span><br/>
    <label class="connect" *ngIf="showconnect">You are now connected to Central Station id:</label>
    <span *ngFor="let data of connect">
        {{data.centralStationid}}
    </span><br/>
    <button class="btn btn-primary" (click)="onClickConnect()" [disabled]= "subtenantidvalue && chargeridvalue? false : true">Connect</button>
    <button class="btn btn-danger" (click)="onClickDisconnect()" [disabled]= "!showconnect? true : false">Disconnect</button>

    <app-status-values *ngIf="showconnect"></app-status-values>
</div>

<app-transaction *ngIf="showconnect"></app-transaction> 



