.start{
    color: green;margin-bottom: 30px;
    text-align: left;
}
.stop{
    color: red;margin-bottom: 30px;
}
.a{
    margin-right: 10%;    
    margin-top: 5%;
}
.b{
    margin-top: 5%;
}
.top{
    margin-top: 16%;
}
.c{
    margin-top: 5%;
}

